In [1]:
import pandas as pd

In [2]:
DT = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv")

In [3]:
DT.head(4)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.9,94.35,94.72,92.82,91.83

### What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [4]:
ItemGRP = DT.groupby("Item")

In [5]:
ItemGRP.agg({"Y2014":"sum","Y2017":"sum" })

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

### What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [6]:
DT["Y2015"].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

### What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [7]:
DT["Y2016"].isnull().sum()

1535

In [8]:
TotalRows = DT["Y2016"].size

In [9]:
TotalRows

60943

In [10]:
DT["Y2016"].isnull().sum()/TotalRows

0.025187470259094565

### Which year had the highest correlation with ‘Element Code’?

In [11]:
DT.corr("pearson")

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

### What year has the highest sum of Import Quantity?

In [12]:
ImpGRP = DT.groupby("Element")

In [13]:
DT2 = ImpGRP.sum()

In [14]:
DT3 = DT2[["Y2014","Y2015","Y2016","Y2017","Y2018"]]

In [17]:
DT3.loc["Import Quantity"]

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

### What is the total number of the sum of Production in 2014?

In [18]:
ProdGrp = DT.groupby("Element")

In [19]:
Prod = ProdGrp.sum()

In [20]:
Prod.loc["Production"]

Area Code         526751.00
Item Code       10450053.00
Element Code    21388191.00
Y2014            1931287.75
Y2015            1947019.39
Y2016            1943537.15
Y2017            2030056.89
Y2018            2075072.89
Name: Production, dtype: float64

### Which of these elements had the highest sum in 2018?

In [21]:
DT1 = DT[["Element", "Y2018"]]

In [22]:
EleGRP = DT1.groupby("Element")

In [23]:
EleGRP.sum().nlargest(1, "Y2018")

                              Y2018
Element
Domestic supply quantity  2161192.1

### Which of these elements had the 3rd lowest sum in 2018?

In [24]:
EleGRP.sum().nsmallest(3, "Y2018")

                                           Y2018
Element
Tourist consumption                        90.00
Fat supply quantity (g/capita/day)      10258.69
Protein supply quantity (g/capita/day)  11833.56

### What is the total Import Quantity in Algeria in 2018?

In [25]:
DTAlg = DT[DT["Area"] == "Algeria"]

In [26]:
DTImpQty = DTAlg[DTAlg["Element"] == "Import Quantity"]

In [27]:
DTImpQty["Y2018"].sum()

36238.29

### What is the total number of unique countries in the dataset?

In [28]:
DT["Area"].nunique()

49